.birthday-form {
  background-color: white;
  border: 6px solid black;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

input,
.month-dropdown {
  font-family: inherit;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px;
  width: 20vw;
}

button {
  background-color: #5BE1E6;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  padding: 16px;
}

select {
  -webkit-appearance: none;
 -moz-appearance: none;
}
